hidden = ["package-lock.json", "package.json", "ryuko"]
language = "bash"
run = "npm run start"
modules = ["nodejs-20", "web", "nix"]

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run start"]
